.classpath
.gradle/
.project
*.iml
bin/
build.gradle
build/
gradle/
gradlew
gradlew.bat
*.properties
.idea/
.idea/*.xml
.idea/copyright/
.idea/libraries/
app/.gitignore
app/proguard-rules.pro
settings.gradle
